{{ template "head" . }}
{{ template "prom_right_table_head" }}
{{ template "prom_right_table_tail" }}
{{ template "prom_content_head" . }}

<h1>Elasticsearch cluster overview</h1>
{{if printf "up == 0" | query }}
<div class="alert alert-success" role="alert">Some systems are down, please check them on <a href="/targets">tagrets page</a></div>
{{end}}

<h3>Cluster status</h3>
<table class="table table-condensed table-striped table-bordered" style="width: 0%">
<tr>
  <th>Cluster name</th>
  <th>Status</th>
  <th>Nodes</th>
  <th>Shards</th>
  <th>Primary shards</th>
</tr>
{{ range "max(es_status) by (cluster)"|query}}
<tr>
  <td>{{ .Labels.cluster }}</td>
  <td>{{ if gt 1.0 .Value }}<span class="label label-danger">CRITICAL</span>{{ else if eq 1.0 .Value}}<span class="label label-warning">WARNING</span>{{ else }}<span class="label label-success">OK</span>{{ end }}</td>
  <td>{{ printf "count(es_status{cluster='%s',})" .Labels.cluster |query|first|value }}</td>
  <td>{{ printf "max(es_active_shards{cluster='%s'})" .Labels.cluster |query|first|value}}</td>
  <td>{{ printf "max(es_active_primary_shards{cluster='%s'})" .Labels.cluster |query|first|value}}</td>
</tr>
{{ end }}
<h3>Nodes status (only alive nodes are here)</h3>
<table class="table table-condensed table-striped table-bordered" style="width: 0%">
<tr>
  <th>Node</th>
  <th>Version</th>
  <th>Cluster status</th>
  <th>CPU %</th>
  <th>Memory %</th>
</tr>
{{ range printf "es_status" | query | sortByLabel "node" }}
  <tr>
    <td><a href="es.html?node={{ .Labels.node | urlquery}}&amp;cluster={{ .Labels.cluster | urlquery }}">{{ .Labels.node | title }}</a></td>
    <td>{{ printf "es_prometheus_version{node='%s',cluster='%s',}" .Labels.node .Labels.cluster | query | first | label "es_version" }}</td>
    <td>{{ if gt 1.0 .Value }}<span class="label label-danger">CRITICAL</span>{{ else if eq 1.0 .Value}}<span class="label label-warning">WARNING</span>{{ else }}<span class="label label-success">OK</span>{{ end }}</td>
    <td>{{template "prom_query_drilldown" args (printf "es_cpu_percentage{node='%s',cluster='%s',}" .Labels.node .Labels.cluster ) "%" ""}}</td>
    <td>{{template "prom_query_drilldown" args (printf "es_jvm_memory_heap_used_percent{node='%s',cluster='%s',}" .Labels.node .Labels.cluster) "%" ""}}</td>
  </tr>
{{ end }}
</table>

{{ template "prom_content_tail" . }}
{{ template "tail" }}
