{{ template "head" . }}
{{ template "prom_right_table_head" }}

{{ with printf "es_prometheus_version{node='%s',cluster='%s',}" .Params.node .Params.cluster| query | first }}
<tr><th colspan="2">Info</th></tr>
<tr>
  <td>Cluster</td>
  <td>{{ .Labels.cluster}}</td>
</tr>
<tr>
  <td>Node</td>
  <td>{{ .Labels.node}}</td>
</tr>
<tr>
  <td>ES Version</td>
  <td>{{ .Labels.es_version}}</td>
</tr>
<tr>
  <td>Plugin Version</td>
  <td>{{ .Labels.pluginVersion}}</td>
</tr>
{{ end }}
<tr>
  <td>Uptime</td>
  <td>{{ printf "es_jvm_uptime{node='%s',cluster='%s',} / 1000" .Params.node .Params.cluster |query | first | value | humanizeDuration }}</td>
</tr>
<tr><th colspan="2">Documents</th></tr>
<tr>
 <td>All documents</td>
 <td>{{template "prom_query_drilldown" args (printf "es_common_docs_count{node='%s',cluster='%s',}" .Params.node .Params.cluster) "" "humanize"}}</td>
</tr>
<tr>
 <td>Deleted documents</td>
 <td>{{template "prom_query_drilldown" args (printf "es_common_docs_deleted_count{node='%s',cluster='%s',}" .Params.node .Params.cluster) "" "humanize"}}</td>
</tr>
<tr>
 <td>Documents size</td>
 <td>{{template "prom_query_drilldown" args (printf "es_common_docs_size_bytes{node='%s',cluster='%s',}" .Params.node .Params.cluster) "b" "humanize"}}</td>
</tr>
<tr>
 <td>Storage size</td>
 <td>{{template "prom_query_drilldown" args (printf "es_common_store_size{node='%s',cluster='%s',}" .Params.node .Params.cluster) "b" "humanize"}}</td>
</tr>
<tr>
 <td>Fieldata size</td>
 <td>{{template "prom_query_drilldown" args (printf "es_fielddata_size_bytes{node='%s',cluster='%s',}" .Params.node .Params.cluster) "b" "humanize"}}</td>
</tr>
<tr>
 <td>Querycache size</td>
 <td>{{template "prom_query_drilldown" args (printf "es_querycache_memory_bytes{node='%s',cluster='%s',}" .Params.node .Params.cluster) "b" "humanize"}}</td>
</tr>
<tr>
 <td>Querycache bytes</td>
 <td>{{template "prom_query_drilldown" args (printf "es_querycache_size{node='%s',cluster='%s',}" .Params.node .Params.cluster) "b" "humanize"}}</td>
</tr>
<tr><th colspan="2">Indexing / Deleting</th></tr>
<tr>
    <td>Indexing rate [5m]</td>
    <td>{{template "prom_query_drilldown" args (printf "rate(es_indexing_sum{node='%s',cluster='%s',}[5m])/rate(es_indexing_count{node='%s',cluster='%s',}[5m])" .Params.node .Params.cluster .Params.node .Params.cluster) "" "humanize"}}</td>
</tr>
<tr>
    <td>Delete rate [5m]</td>
    <td>{{template "prom_query_drilldown" args (printf "rate(es_delete_sum{node='%s',cluster='%s',}[5m])/rate(es_delete_count{node='%s',cluster='%s',}[5m])" .Params.node .Params.cluster .Params.node .Params.cluster) "" "humanize"}}</td>
</tr>
<tr>
    <td>Flush rate [5m]</td>
    <td>{{template "prom_query_drilldown" args (printf "rate(es_flush_sum{node='%s',cluster='%s',}[5m])/rate(es_flush_count{node='%s',cluster='%s',}[5m])" .Params.node .Params.cluster .Params.node .Params.cluster) "" "humanize"}}</td>
</tr>
<tr>
    <td>Refresh rate [5m]</td>
    <td>{{template "prom_query_drilldown" args (printf "rate(es_refresh_sum{node='%s',cluster='%s',}[5m])/rate(es_refresh_count{node='%s',cluster='%s',}[5m])" .Params.node .Params.cluster .Params.node .Params.cluster) "" "humanize"}}</td>
</tr>
<tr><th colspan="2">OS</th></tr>
{{ range printf "es_memory{node='%s',cluster='%s'}" .Params.node .Params.cluster | query }}
 <tr>
  <td>OS memory - {{ .Labels.memtype }}</td>
  <td>{{template "prom_query_drilldown" args (printf "es_memory{node='%s',cluster='%s',memtype='%s',}" .Labels.node .Labels.cluster .Labels.memtype) "b" "humanize"}}</td>
</tr>
{{end}}
<tr>
  <td>CPU</td>
  <td>{{template "prom_query_drilldown" args (printf "es_cpu_percentage{node='%s',cluster='%s',}" .Params.node .Params.cluster) "%" ""}}</td>
</tr>
<tr><th colspan="2">Memory</th></tr>
{{ range printf "jvm_memory_bytes_used{node='%s',cluster='%s'}" .Params.node .Params.cluster | query }}
 <tr>
  <td>Memory used - {{ .Labels.area }}</td>
  <td>{{template "prom_query_drilldown" args (printf "jvm_memory_bytes_used{node='%s',cluster='%s',area='%s',}" .Labels.node .Labels.cluster .Labels.area) "b" "humanize"}}</td>
</tr>
{{end}}

{{ range printf "jvm_memory_bytes_committed{node='%s',cluster='%s'}" .Params.node .Params.cluster | query }}
 <tr>
  <td>Memory commited - {{ .Labels.area }}</td>
  <td>{{template "prom_query_drilldown" args (printf "jvm_memory_bytes_committed{node='%s',cluster='%s',area='%s',}" .Labels.node .Labels.cluster .Labels.area) "b" "humanize"}}</td>
</tr>
{{end}}
<tr><th colspan="2">JVM</th></tr>
<tr>
  <td>Threads (current)</td>
  <td>{{template "prom_query_drilldown" args (printf "jvm_threads_current{node='%s',cluster='%s',}" .Params.node .Params.cluster) "" ""}}</td>
</tr>
<tr>
  <td>Threads (peak)</td>
  <td>{{template "prom_query_drilldown" args (printf "jvm_threads_peak{node='%s',cluster='%s',}" .Params.node .Params.cluster) "" ""}}</td>
</tr>
<tr>
  <td>JVM classes loaded</td>
  <td>{{template "prom_query_drilldown" args (printf "jvm_classes_loaded{node='%s',cluster='%s',}" .Params.node .Params.cluster) "" ""}}</td>
</tr>
<tr>
  <td>JVM classes loaded (total)</td>
  <td>{{template "prom_query_drilldown" args (printf "jvm_classes_loaded_total{node='%s',cluster='%s',}" .Params.node .Params.cluster) "" ""}}</td>
</tr>
<tr>
  <td>JVM classes unloaded (total)</td>
  <td>{{template "prom_query_drilldown" args (printf "jvm_classes_unloaded_total{node='%s',cluster='%s',}" .Params.node .Params.cluster) "" ""}}</td>
</tr>
{{ template "prom_right_table_tail" }}
{{ template "prom_content_head" . }}

<ol class="breadcrumb">
  <li><a href="index.html">Elasticsearch status</a></li>
  <li class="active"><a href="es.html?node={{ .Params.node | urlquery}}&amp;cluster={{ .Params.cluster | urlquery }}">ES node: {{.Params.node }}</a></li>
</ol>

<h1>ES node status</h1>

<h3>Documents in cluster per second</h3>
<div id="documentsGraph"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#documentsGraph"),
  expr: "rate(es_common_docs_count{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])",
  name: "doc",
  renderer: 'area',
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yTitle: 'doc/s'
})
</script>
<h3>Indexing actions per second</h3>
<div id="docChangesGraph"></div>
<script>
    new PromConsole.Graph({
        node: document.querySelector("#docChangesGraph"),
        expr: [
            "rate(es_indexing_sum{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])/rate(es_indexing_count{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])",
            "rate(es_delete_sum{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])/rate(es_delete_count{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])",
            "rate(es_flush_sum{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])/rate(es_flush_count{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])",
            "rate(es_refresh_sum{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])/rate(es_refresh_count{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])",
        ],
        name: ["Indexing", "Delete", "Flush", "Refresh"],
        renderer: 'area',
        yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yTitle: 'doc/s'
    })
</script>
<h3>Queries in cluster per second</h3>
<div id="queriesGraph"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#queriesGraph"),
  expr: "rate(es_search_query_count{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[30s])",
  name: "search",
  renderer: 'line',
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yTitle: 'Queries/s'
})
</script>

<h3>Active shards</h3>
<div id="shardsGraph"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#shardsGraph"),
  expr: "es_index_active_shards{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}",
  renderer: 'line',
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yTitle: 'Shards'
})
</script>

<h3>Tasks in queue</h3>
<div id="tasksGraph"></div>
<script>
new PromConsole.Graph({
  node: document.querySelector("#tasksGraph"),
  expr: "es_tasks_count{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}",
  renderer: 'line',
  yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
  yTitle: 'Tasks'
})
</script>
<h3>Threads in threadpool</h3>
<div id="threadpoolGraph"></div>
<script>
    new PromConsole.Graph({
        node: document.querySelector("#threadpoolGraph"),
        expr: [
            "es_threadpool_threads{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}",
            "es_threadpool_active{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}",
            "es_threadpool_queue{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}"
        ],
        name: ["Threads [[ threadpool ]]", "Active [[ threadpool ]]", "Queue [[ threadpool ]]"],
        renderer: 'threads',
        yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yTitle: 'Tasks'
    })
</script>
<h3>Tasks in threadpool</h3>
<div id="threadpooltasksGraph"></div>
<script>
    new PromConsole.Graph({
        node: document.querySelector("#threadpooltasksGraph"),
        expr: [
            "irate(es_threadpool_completed{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[1m])",
            "irate(es_threadpool_rejected{node='{{.Params.node}}',cluster='{{ .Params.cluster }}'}[1m])"
        ],
        name: ["Completed [[ threadpool ]]", "Rejected [[ threadpool ]]"],
        renderer: 'threads',
        yAxisFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yHoverFormatter: PromConsole.NumberFormatter.humanizeNoSmallPrefix,
        yTitle: 'Tasks/s'
    })
</script>
{{ template "prom_content_tail" . }}
{{ template "tail" }}
